.item{
    margin: 10px;
    height: 290px;
    text-align: center;
}
.photo{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.name{
    font-weight: lighter;
    font-size: 16px;
    color: black;
    margin-top: 7px;
}
.price{
    font-weight: medium;
    font-size: 16px;
    color: black;
    margin-top: 5px;
}
